* {
  padding: 0px;
  margin: 0px;
}
body {
  font-size: smaller;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0.5)),
    url("Assets/bgimg.jpg") center/cover fixed no-repeat;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    ". card ."
    "opt opt opt";
  justify-content: center;
  align-items: center;
}

.flip-container {
  grid-area: card;
  margin: 10px;
  width: 200px;
  height: 270px;
  z-index: 1;
  perspective: 1000;
  display: inline-block;
}
#option {
  grid-area: opt;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
.learn-more {
  font-weight: 600;
  color: text;
  text-transform: uppercase;
  padding: 0.75em 2em;
  background: pink;
  border: 2px solid black;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  border-radius: inherit;
  box-shadow: 0 0 0 2px pink, 0 0.625em 0 0 pink;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.learn-more:hover {
  background: pink;
  transform: translate(0, 0.25em);
}
.learn-more:hover::before {
  box-shadow: 0 0 0 2px pink, 0 0.5em 0 0 pink;
  transform: translate3d(0, 0.5em, -1em);
}
.learn-more:hover:active {
  background: pink;
  transform: translate(0em, 0.75em);
}
.learn-more:hover:active:before {
  box-shadow: 0 0 0 2px pink, 0 0 pink;
  transform: translate3d(0, 0, -1em);
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear;
}

.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#merlin .face.back {
  background-color: #e0adcd;
  font-family: fantasy;
  font-size: medium;
}
#question {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  word-break: break-all;
}
#controls {
  display: flex;
  justify-content: space-evenly;
}
#controls > button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(240, 160, 220, 0.733);
  padding: 10px;
  margin-top: 10px;
  border: 2px solid rgb(232, 241, 241);
  border-radius: 10px;
}
#timer {
  margin: 1vh 1vw 0px 0px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#timer > p {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  color: beige;
  background-color: blueviolet;
}
